body {
    background-image: url("../images/background1@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    text-align: center;
}
nav {
    background-color: #12858E;
    box-shadow:none!important;
}
.nav-content {
    text-align: center;
}
/* .container1 {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: white;
    } */
    
    .button-add
    {
        background-color: #1c97f3;
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border:1px solid #186dad;
    }
    
    input{
        border-bottom:none!important;
       
    }
    .input-field {
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #9DE1A6;
        border-radius: 15px;
        box-sizing: border-box;
        background-color: white;
    }
    
    .delete{
        background-color: #fd1200;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .icon-logo {
        align-content: center;
    }
    .nav-content .row .page-title {
        font-family: 'Roboto Slab', serif;
        margin: 0;
        padding: 0 0 30px;
    }
    .icon-img {
        padding:12px;
    }
    .middleGround-logo{
        margin:0 auto;
        display:block;
        max-width:100%;
        width: 200px;
    }